<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Student Testimonials</ion-title>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="testimonial-basic">
        <div class="testimonial-student">
          Mark, 22
        </div>
        <div class="testimonial-qualification">
          Software Development
        </div>
      </div>

      </ion-col>
      <ion-col>
        <div>
        <ion-avatar>
          <ion-img class="testimonial-avatar" src="https://www.sandiego.edu/business/images/home/persona-undergraduate.jpg"> </ion-img>    </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom" id="testimonial-description">
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ad quae autem itaque aspernatur doloremque praesentium rem tenetur veniam pariatur perspiciatis laborum beatae ducimus, nemo a quas, nihil veritatis accusantium!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
