<app-header-regular title="Student Testimonials"></app-header-regular>

<ion-content class="background">
  <div class="center">
    <ion-slides class="testimonial-slider" pager="true">
      
      <!-- 'Testimonial' slide -->
      <ng-container *ngFor="let currentTestimonialImg of testimonialImgs; let i = index">
      <ion-slide>
        <div class="testimonial-card" style="margin-top: 22px">
          <!-- 'Testimonial' image -->
          <div [ngStyle]="{ 'background-image': 'url(' + testimonialImgs[i] + ')' }" class="background-image"></div>
          <!-- 'Testimonial' student name -->
          <h5 class="testimonial-student">{{ instituteTestNames[i] }}</h5>
          <!-- 'Testimonial' student qualification -->
          <h6 class="testimonial-qualification ion-text-wrap">{{ instituteTestRoles[i] }}</h6>
          <!-- 'Testimonial' student description -->
          <p class="testimonial-description ion-text-wrap">{{ instituteTestContent[i] }}</p>
        </div>
      </ion-slide>
    </ng-container>

    </ion-slides>
    
  </div>

</ion-content>
