.testimonial-slider{
    --bullet-background: grey;
    --bullet-background-active: var(--default-theme-color);

    .testimonial-card{

        .background-image{ //avatar (background for card)
            background-size: cover;
            margin: auto;
            background-position: center;
            position: relative;
            height: 220px;
            width: 220px;
            border-radius: 150px;
        }

        .testimonial-student{
            font-size: 1.2em;
            padding-left: 15px;
            padding-right: 15px;
            color: var( --default-theme-color);
            letter-spacing: 2.5px;
        }

        .testimonial-qualification{
            font-size: 1em;
            padding-left: 15px;
            padding-right: 15px;
            color: var( --default-theme-color);
            letter-spacing: 2.5px;
        }

        .testimonial-description{
            padding-left: 15px;
            padding-bottom: 25px;
            padding-right: 15px;
            margin-bottom: 15px;
            color: var( --default-theme-color);
            letter-spacing: 0.85px;
        }
    }
}

ion-content{
    --background: url('/assets/imgs/TestimonialsBackground.jpg') no-repeat center center / cover;
}