.testimonial-button {
    width: 100%;
    height: auto;
}

.testimonial-avatar {
    margin-right: 15px;
    width: auto;
    height: auto;
}

.testimonial-student {
    font-size: 1.5em;
}

.testimonial-qualification {
    margin-top: 3px;
    font-size: 1em;
}