<app-header-regular title="Student Testimonials"></app-header-regular>

<ion-content>
  <ion-list>
    
    <ion-button class="testimonial-button" href="/testimonials/view"> 
      <ion-avatar class="testimonial-avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap testimonial-student">
            John, 21
          </div>
        </ion-row>
        <ion-row>
          <div class="ion-text-wrap ion-text-left testimonial-qualification">
            Graphic Design
          </div>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward-outline" class="icon-arrow" slot="end"></ion-icon>
    </ion-button>

    <ion-button class="testimonial-button" href="/testimonials/view">
      <ion-avatar class="testimonial-avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap testimonial-student">
            Amy, 23
          </div>
          </ion-row>
          <ion-row>
            <div class="ion-text-wrap ion-text-left testimonial-qualification">
              Maritime Engineering
            </div>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward-outline" class="icon-arrow" slot="end"></ion-icon>
    </ion-button>

    <ion-button class="testimonial-button" href="/testimonials/view">
      <ion-avatar class="testimonial-avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap testimonial-student">
            Mark, 38
          </div>
          </ion-row>
          <ion-row>
            <div class="ion-text-wrap ion-text-left testimonial-qualification">
              Accounting
            </div>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward-outline" class="icon-arrow" slot="end"></ion-icon>
    </ion-button>

  </ion-list>
</ion-content>
