<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center page-title">Corporate Services</ion-title>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Learning Support Unit
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          Email: lsu@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          Tel: 21212121
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Learning Support Unit
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          Email: lsu@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          Tel: 21212121
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Learning Support Unit
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          Email: lsu@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          Tel: 21212121
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-list>
</ion-content>
