<app-header-regular title="Corporate Services"></app-header-regular>

<ion-content class="background">
  <ion-list>
  <div>
    <ion-grid>
      <ion-row>
        <!-- 'Corporate title' label -->
        <div class="corporate-title">
          Inclusive Education Unit
        </div>
      </ion-row>
      <ion-row>
        <!-- 'Corporate email' label -->
        <div class="corporate-email">
          inclusiveducation@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <!-- 'Corporate telephone' label -->
        <div class="corporate-telephone">
          2398 7127 <br>
          2398 7237
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Learning Support Unit
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          lsu@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Integration Office
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          james.camilleri@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7329
        </div>
      </ion-row>
    </ion-grid>
  </div>
  
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Wellbeing Hub
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          counsellors@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7188
        </div>
      </ion-row>
    </ion-grid>
  </div>
  
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Aġenzija Żgħażagħ Youth Hub
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          shaun.busuttil@gov.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7168
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Grievance Office
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          anthony.saliba@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Apprenticeship and Work-Based Learning Department
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          apprenticeships@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7145
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          International Office
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          christian.debono@mcast.edu.mt
          seija.anttonen@mcast.edu.mt
          jodie.bonnici@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7408  <br>
          2398 7422  <br> 
          2398 7219  <br>
          2398 7308
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Entrepreneurship Centre
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          entrepreneurship@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          MCAST Salesian Chaplaincy Team
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          chaplaincy@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          9989 2278
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Fitness Centre
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7466
        </div>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Corporate Social Responsibility (CSR) Office
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          richard.curmi@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7260 <br>
          7925 0570
        </div>
      </ion-row>
    </ion-grid>
  </div>

  
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Student Liaison Office
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          marina.sceberras@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7310
        </div>
      </ion-row>
    </ion-grid>
  </div>
  
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Research and Innovation
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          research.innovation@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7176
        </div>
      </ion-row>
    </ion-grid>
  </div>
  
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Career Guidance
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          career.guidance@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7135 <br>
          2398 7136
        </div>
      </ion-row>
    </ion-grid>
  </div>
  
  <div>
    <ion-grid>
      <ion-row>
        <div class="corporate-title">
          Library and Learning Resource Centre
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-email">
          llrc@mcast.edu.mt
        </div>
      </ion-row>
      <ion-row>
        <div class="corporate-telephone">
          2398 7500 <br>
          2398 7501 <br>
          2398 7503
        </div>
      </ion-row>
    </ion-grid>
  </div>
    
</ion-list>
</ion-content>