<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Corporate Services</ion-title>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-card>
      <ion-title class="ion-text-center">Learning Support Unit</ion-title>
        <ion-text>Email: lsu@mcast.edu.mt
        <br> Tel: 21212121
        </ion-text>
    </ion-card>
    
    <ion-card>
      <ion-title class="ion-text-center">Learning Support Unit</ion-title>
        <ion-text>Email: lsu@mcast.edu.mt
        <br> Tel: 21212121
        </ion-text>
    </ion-card>

  </ion-list>
</ion-content>
