.corporate-title{
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 4px;
}

.corporate-email{
    text-align: center;
    width: 100%;
    margin-bottom: 2px;
}

.corporate-telephone{
    text-align: center;
    width: 100%;
}