<app-header-regular title="Past Students' Work"></app-header-regular>

<ion-content>
  <ion-list>

    <ion-button class="pastwork-button" href="/pastwork/view">
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap pastwork-article">
            Startup "WebPower" Wins Business Award - Times of Malta
          </div>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward-outline" class="icon-arrow" slot="end"></ion-icon>
    </ion-button>

    <ion-button class="pastwork-button" href="/pastwork/view">
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap pastwork-article">
            Art Exhibition by artist Giulia Grima to be Displayed at Spazju Kreattiv
          </div>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward-outline" class="icon-arrow" slot="end"></ion-icon>
    </ion-button>

  </ion-list>
</ion-content>
