.pastwork-slider{
    --bullet-background: black;
    --bullet-background-active: var( --default-theme-color);

    .pastwork-card{

        .background-image{
            padding-bottom: 120%;
            background-size: cover;
            background-position: center;
            position: relative;
        }

        .pastwork-title{
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 25px;
            margin-bottom: 15px;
            color: var( --default-theme-color);
            letter-spacing: 2.5px;
            font-size: 1.2em;
        }
    }
}

ion-content{
    --background: url('/assets/imgs/PastWork.png') no-repeat center center / cover;
}