<app-header-regular title="Favourite Courses"></app-header-regular>

<ion-content>
  <ion-list>

    <div *ngIf="!favouritesArray || favouritesArray.length === 0" class="no-favourites ion-text-center" style="color: grey;">
      You currently have no courses favourited. <!-- show div if favouritesArray empty -->
    </div>

    <!-- <div *ngIf="favouritesArray || favouritesArray.length > 0">
      <ion-row *ngFor="let item of favouritesArray">
              <ion-button id="course-button" (click)="courseviewNav()">
                <div class="ion-text-wrap">
                  {{item.course}}
              </div>
              </ion-button>
          </ion-row>
      </div>
    -->

    <ion-button id="course-button" (click)="courseviewNav()">
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap">
            Bachelor of Arts (Honours) in Interactive Media
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>

  </ion-list>
</ion-content>
