<app-header-regular title="Favourite Courses"></app-header-regular>

<ion-content>
  <ion-list>

    <!-- Display div if favouritesArray empty -->
    <div *ngIf="!favouritesArray || favouritesArray.length === 0" class="no-favourites ion-text-center" style="color: grey;">
      You currently have no courses favourited.
    </div>

    <!-- Display div if favouritesArray populated w/ 1 entry or more -->
    <!-- <div *ngIf="favouritesArray || favouritesArray.length > 0">
      <ion-row *ngFor="let item of favouritesArray">
              <ion-button id="course-button" (click)="courseviewNav()">
                <div class="course-name ion-text-wrap">
                  {{course}}
              </div>
              </ion-button>
          </ion-row>
      </div>
    -->

    <!-- Semi-scrapped feature due to use of Cordova -->


    <!-- Sample course button to show above -->
    <ion-button class="course-button" (click)="courseviewNav()">
      <ion-grid>
        <ion-row>
          <div class="course-name ion-text-wrap">
            Bachelor of Arts (Honours) in Interactive Media
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>

  </ion-list>
</ion-content>
