<app-header-regular title="Course List"></app-header-regular>

<ion-content>
  <ion-list>
    
    <ion-button class="course-button"             
    *ngFor="let institute of institutes"
    [ngStyle]="{ 'color': institute.color }"
    [routerLink]="['/', 'institute', institute.code]">
      <ion-grid>
        <ion-row>
          <!-- Course name -->
          <div class="ion-text-wrap">
            {{ prospectusService.getCourseName(course) }}a
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>
    
  </ion-list>
</ion-content>
