<app-header-regular title="Course List"></app-header-regular>

<ion-content class="background">
  <ion-list>
    
    <ion-button class="course-button"             
    *ngFor="let course of institute.courses"
    [ngStyle]="{ 'color': institute.color }"
    [routerLink]="['/', 'courses', 'view', course.code]"
    >
      <ion-grid>
        <ion-row>
          <!-- Course name -->
          <div class="ion-text-wrap">
            {{ course.title }}
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>
    
  </ion-list>
</ion-content>

