<app-header-regular title="Course List"></app-header-regular>

<ion-content>
  <ion-list>
    
    <ion-button class="course-button" (click)="courseview()">
      <ion-grid>
        <ion-row>
          <!-- Course name -->
          <div class="ion-text-wrap">
            Bachelor of Arts (Honours) in Interactive Media
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>
    
    <ion-button class="course-button" (click)="courseview()">
      <ion-grid>
        <ion-row>
          <div class="ion-text-wrap">
            Bachelor of Science (Honours) in Animal Management and Veterinary Nursing
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>
        
    <ion-button class="course-button" (click)="courseview()">
      <ion-grid>
        <ion-row>
          <div class="course-name ion-text-wrap">
            Extended Diploma in Foundation Studies for Security, Enforcement and Protection
          </div>
        </ion-row>
      </ion-grid>
    </ion-button>

  </ion-list>
</ion-content>
