<app-header-regular title="Select Institute"></app-header-regular>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-right" id="institute-acronym">
          IAS
        </div>

        <div id="institute-button">
            <ion-button href="/institutes/view" style="height: 100%; font-size: 0.8em;">
              <ion-label class="ion-text-wrap">Institute of Applied Sciences</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-right" id="institute-acronym">
          IBMC
        </div>
        
        <div id="institute-button">
          <ion-button href="/institutes/view" style="height: 100%; font-size: 0.8em;">
            <ion-label class="ion-text-wrap">Institute of Business Management and Commerce</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-right" id="institute-acronym">
          ICS
        </div>

        <div id="institute-button">
            <ion-button href="/institutes/view" style="height: 100%; font-size: 0.8em;">
              <ion-label class="ion-text-wrap">Institute of Community Services</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-right" id="institute-acronym">
          ICA
        </div>
        
        <div id="institute-button">
          <ion-button href="/institutes/view" style="height: 100%; font-size: 0.8em;">
            <ion-label class="ion-text-wrap">Institute for the Creative Arts</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <div class="ion-text-right" id="institute-acronym">
          IET
        </div>

        <div id="institute-button">
            <ion-button href="/institutes/view" style="height: 100%; font-size: 0.8em;">
              <ion-label class="ion-text-wrap">Institute of Engineering and Transport</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-right" id="institute-acronym">
          IICT
        </div>
        
        <div id="institute-button">
          <ion-button href="/institutes/view" style="height: 100%; font-size: 0.8em;">
            <ion-label class="ion-text-wrap">Institute of Information and Communication Technology</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 15px;">
      
      <ion-col>
        <div id="institute-button">
            <ion-button href="/institutes/view" expand="block" style="height: 100%; font-size: 0.8em;">
              <ion-label class="ion-text-wrap">Gozo Campus</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div id="institute-button">
          <ion-button href="/institutes/view" expand="block" style="height: 100%; font-size: 0.8em;">
            <ion-label class="ion-text-wrap">Generic Degrees</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div id="institute-button">
          <ion-button href="/institutes/view" expand="block" style="height: 100%; font-size: 0.8em;">
            <ion-label class="ion-text-wrap">Masters Degrees</ion-label>
          </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div id="institute-button">
          <ion-button href="/institutes/view" expand="block" style="height: 100%; font-size: 0.8em;">
            <ion-label class="ion-text-wrap">CPD</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
