<app-header-regular title="Select Institute"></app-header-regular>

<ion-content>

  <ion-grid>
    <ion-row>
      <!-- IAS -->
      <ion-col class="align-self-stretch">
        <div class="ion-text-right institute-acronym">
          IAS
        </div>

        <div class="institute-button-container">
            <ion-button class="institute-button" (click)="institutesviewNav()">
              <ion-label class="ion-text-wrap">Institute of Applied Sciences</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <!-- IBMC -->
      <ion-col class="align-self-stretch">
        <div class="ion-text-right institute-acronym">
          IBMC
        </div>
        
        <div class="institute-button-container">
          <ion-button class="institute-button" (click)="institutesviewNav()">
            <ion-label class="ion-text-wrap">Institute of Business Management and Commerce</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- ICS -->
      <ion-col>
        <div class="ion-text-right institute-acronym">
          ICS
        </div>

        <div class="institute-button-container">
            <ion-button class="institute-button" (click)="institutesviewNav()">
              <ion-label class="ion-text-wrap">Institute of Community Services</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <!-- ICA -->
      <ion-col>
        <div class="ion-text-right institute-acronym">
          ICA
        </div>
        
        <div class="institute-button-container">
          <ion-button class="institute-button" (click)="institutesviewNav()">
            <ion-label class="ion-text-wrap">Institute for the Creative Arts</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <!-- IET -->
      <ion-col>
        <div class="ion-text-right institute-acronym">
          IET
        </div>

        <div class="institute-button-container">
            <ion-button class="institute-button" (click)="institutesviewNav()">
              <ion-label class="ion-text-wrap">Institute of Engineering and Transport</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <!-- IICT -->
      <ion-col>
        <div class="ion-text-right institute-acronym">
          IICT
        </div>
        
        <div class="institute-button-container">
          <ion-button class="institute-button" (click)="institutesviewNav()">
            <ion-label class="ion-text-wrap">Institute of Information and Communication Technology</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 10px;">
      
      <!-- Gozo Campus -->
      <ion-col>
        <div class="institute-button-container">
            <ion-button class="institute-button" (click)="institutesviewNav()">
              <ion-label class="ion-text-wrap">Gozo Campus</ion-label>
            </ion-button>
        </div>
      </ion-col>

      <!-- Generic Degrees -->
      <ion-col>
        <div class="institute-button-container">
          <ion-button class="institute-button" (click)="institutesviewNav()">
            <ion-label class="ion-text-wrap">Generic Degrees</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Masters Degrees -->
      <ion-col>
        <div class="institute-button-container">
          <ion-button class="institute-button" (click)="institutesviewNav()">
            <ion-label class="ion-text-wrap">Masters Degrees</ion-label>
          </ion-button>
        </div>
      </ion-col>

      <!-- CPD -->
      <ion-col>
        <div class="institute-button-container">
          <ion-button class="institute-button" (click)="institutesviewNav()">
            <ion-label class="ion-text-wrap">CPD</ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
