.institute-name{
    font-size: 1.3rem;
}

.card-content-custom{
    font-size: 1.15em;
    letter-spacing: 0.9px;
}

ion-content{
    --background: url('/assets/imgs/InstituteSelectBackground.png') no-repeat center center / cover;
}