<app-header-regular title="Institute Information"></app-header-regular>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-left institute-acronym ion-text-uppercase" *ngIf="displayAcronymDiv" [ngStyle]="{ 'color': institute.color }">
            {{ institute.code }}
        </div>

        <div class="institute-name" *ngIf="displayTitleDiv" [ngStyle]="{ 'color': institute.color }">
            {{ prospectusService.getInstituteName(institute) }}
        </div>
      </ion-col>

      <!-- 'Find Us' button -->
        <!-- Redirects to Google Maps institute location -->
      <ion-col>
        <div class="ion-text-right"> <!-- make div/button hidden for Masters Degrees/Generic Degrees/CPD -->
          <ion-button href="{{location}}">
            <ion-icon name="location-outline" class="prospectus-button-icon"></ion-icon>
            <ion-label>Find Us</ion-label>
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- Institute info paragraph 1 -->
  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom card-properties" *ngIf="displayDescDiv" [ngStyle]="{ 'background-color': institute.color }">
    <ion-card-content>
      <p class="card-content-custom">
        {{ prospectusService.getInstituteDesc(institute) }}
      </p>
    </ion-card-content>
  </ion-card>
  
  <!-- 'Course List' button -->
  <div class="ion-text-center">
    <ion-button [routerLink]="['/courses', 'select', institute.code]">
      <ion-label>Course List</ion-label>
    </ion-button>
  </div>

</ion-content>
