<app-header-regular title="Institute Info"></app-header-regular>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-left institute-acronym ion-text-uppercase">
            {{ institute.code }}
        </div>

        <div class="institute-name">
            {{ prospectusService.getInstituteName(institute) }}
        </div>
      </ion-col>

      <!-- 'Find Us' button -->
        <!-- Redirects to Google Maps institute location -->
      <ion-col>
        <div class="ion-text-right"> <!-- make div/button hidden for Masters Degrees/Generic Degrees/CPD -->
          <ion-button href="https://www.google.com/maps?q=MCAST,+Triq+Kordin,+Paola&hl=en">
            <ion-icon name="location-outline" class="prospectus-button-icon"></ion-icon>
            <ion-label>Find Us</ion-label>
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- Institute info paragraph 1 -->
  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom">
    <ion-card-content>
      <p class="card-content-custom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ad quae autem itaque aspernatur doloremque praesentium rem tenetur veniam pariatur perspiciatis laborum beatae ducimus, nemo a quas, nihil veritatis accusantium!</p>
    </ion-card-content>
  </ion-card>
  
  <!-- Institute info paragraph 2 -->
  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom">
    <ion-card-content>
      <p class="card-content-custom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ad quae autem itaque aspernatur doloremque praesentium rem tenetur veniam pariatur perspiciatis laborum beatae ducimus, nemo a quas, nihil veritatis accusantium!</p>
    </ion-card-content>
  </ion-card>

  <!-- 'Course List' button -->
  <div class="ion-text-center">
    <ion-button [routerLink]="['/courses', 'select', institute.code]" >
      <ion-label>Course List</ion-label>
    </ion-button>
  </div>

</ion-content>
