<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center page-title">Institute Info</ion-title>
    
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-left" id="institute-acronym">
          IICT
        </div>

        <div id="institute-name">
          Institute of Information and Communication Technology
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-right">
          <ion-button>
            <ion-icon name="compass-outline" class="prospectus-icon"></ion-icon>
            <ion-label>Find Us</ion-label>
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

<!-- Institute info paragraph 1 -->
  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom">
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ad quae autem itaque aspernatur doloremque praesentium rem tenetur veniam pariatur perspiciatis laborum beatae ducimus, nemo a quas, nihil veritatis accusantium!</p>
    </ion-card-content>
  </ion-card>
  
<!-- Institute info paragraph 2 -->
  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom">
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, ad quae autem itaque aspernatur doloremque praesentium rem tenetur veniam pariatur perspiciatis laborum beatae ducimus, nemo a quas, nihil veritatis accusantium!</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button>
      <ion-label>Course List</ion-label>
    </ion-button>
  </div>

</ion-content>
