.institute-name{
    font-size: 1rem;
}

.card-content-custom{
    font-size: 1.15em;
    letter-spacing: 0.3px;
}

ion-content{
    --background: url('/assets/imgs/InstituteSelect.jpg') no-repeat center center / cover;
}