<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- 'Back' button -->
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()" style="color: black;">
        <ion-icon name="chevron-back-outline" slot="icon-only" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- 'Title' label -->
    <ion-title class="ion-text-center course-title">Course Info</ion-title>
    <!-- 'Favourite' heart toggle button -->
    <ion-buttons disabled slot="end">
      <ion-button (click) ="toggleSave()" style="color: black;">
        <ion-icon [name]="toggleIcon" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Scrapped feature -->
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  
<ion-grid class="course-basic-grid">
  <ion-row>
    <ion-col>
      <div class="ion-text-left course-name" [ngStyle]="{ 'color': selectedInstitute.color }">
        {{courseTitle}}
      </div>
    </ion-col>

    <ion-col>
      <div class="ion-text-right course-code">
        {{courseCode}}
        <!-- 'More Info' button -->
          <!-- Redirects to specific course page on MCAST website -->
        <ion-button href="https://www.mcast.edu.mt/courses/{{courseCode}}/">
          <ion-icon name="earth-outline" class="prospectus-button-icon"></ion-icon>
          <ion-label class="prospectus-button-icon-text">More Info</ion-label>
      </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom card-properties">
    <!-- Course info paragraph -->
    <ion-card-content [ngStyle]="{ 'background-color': selectedInstitute.color }">
      <p class="card-content-custom" style="padding-bottom: 5px; color: white;" *ngFor="let desc of courseDesc">{{desc}}</p>
    </ion-card-content>

  </ion-card>

  <ion-grid class="course-sub-grid">
    <ion-row style="align-items: center">

        <!-- 'MQF Level' label -->
        <ion-col class="ion-text-center course-details"> 
          <ion-icon name="school-outline" class="course-detail-icon"></ion-icon>  
            <ion-label class="course-detail">MQF Level {{courseMqf}}</ion-label>
        </ion-col>
  
        <!-- 'Course length' label -->
        <ion-col class="separator-col ion-text-center">
            <ion-icon name="time-outline" class="course-detail-icon"></ion-icon>
            <ion-label class="course-detail">{{courseDuration}} Year(s)</ion-label>
        </ion-col>
  
        <!-- 'Share' button -->
          <!-- Redirects to Facebook sharing option with specific MCAST course website link -->
        <ion-col disabled class="ion-text-right">
          <ion-button href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mcast.edu.mt%2Fcourses%2Fad6-05-19%2F">
              <ion-icon name="share-social-outline" class="prospectus-button-icon-text"></ion-icon>
              <ion-label>Share</ion-label>


          </ion-button>
            
        </ion-col>
            <!-- Scrapped feature -->
    </ion-row>
  </ion-grid>

  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom card-properties">

    <!-- 'Course Requirements' label -->
    <ion-card-content [ngStyle]="{ 'background-color': selectedInstitute.color }">
      <ion-icon name="book-outline" class="course-detail-icon"></ion-icon>
      <ion-label class="course-detail">Entry Requirements</ion-label>
      <ion-label class="course-detail" style="font-size: 1rem; margin-left: 5px;">(either or)</ion-label>
      <p class="card-content-custom" style="padding-top: 5px;" *ngFor="let req_entry of courseReqEntry">{{req_entry}}</p>
      <ion-label class="course-detail-subtitle">Compulsory: </ion-label>
      <p class="card-content-custom" style="padding-top: 5px;" *ngFor="let req_compulsory of courseReqCompulsory">{{req_compulsory}}</p>
      <ion-label class="course-detail-subtitle">Preferred: </ion-label>
      <p class="card-content-custom" style="padding-top: 5px;" *ngFor="let req_preferred of courseReqPrefer">{{req_preferred}}</p>
      <p class="card-content-custom" style="padding-top: 5px;" *ngFor="let req_other of courseReqOther">{{req_other}}</p>
    </ion-card-content>

  </ion-card>

  <ion-card class="ion-no-margin ion-margin-horizontal ion-margin-bottom card-properties">

    <!-- 'Career Opportunities' label -->
    <ion-card-content [ngStyle]="{ 'background-color': selectedInstitute.color }">
      <ion-icon name="briefcase-outline" class="course-detail-icon"></ion-icon>
      <ion-label class="course-detail">Career Opportunities</ion-label>
      <p class="card-content-custom">{{courseCareers}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>
