.course-code{
    font-size: 1.10rem;
    color: var(--default-theme-color);
}

.course-name{
    font-size: 1.3rem;
    color: var(--default-theme-color);
}

.course-detail{
    font-size: 1.3rem;
    color: black;
}

.course-detail-title{
    font-size: 1.3rem;
    color: var(--default-theme-color);
}

.course-detail-subtitle{
    font-size: 1.1rem;
    color: black;
}

.card-content-custom{
    font-size: 1.15em;
    letter-spacing: 0.3px;
}

.course-detail-icon{
        margin-right: 5px;
        color: black;
        font-size: 1.6em;
    }



ion-content{
    --background: url('/assets/imgs/InstituteCourseListInfoBackground.png') no-repeat center center / cover;
}