#welcome-text{
    margin-top: 40px;
    letter-spacing: 30px;
    margin-right: -30px;
        //to compensate for letter spacing post-final letter
    font-size: 22px;
    color: var(--default-theme-color);
}

#welcome-subtext{
    // subtitle pinned to bottom of page
    position: absolute;
    bottom: 100px;
    width: 100%;
    letter-spacing: 3px;
    margin-right: -3px;
        //to compensate for letter spacing post-final letter
    font-size: 22px;
    color: var(--default-theme-color);
}

#mcast-logo{
    position: absolute;
    bottom: 35%;
    margin-left: -15px;
    margin-right: -15px;
    align-content: center;
}

#mcast-logo-subtitle{
    position: absolute;
    bottom: 35%;
    margin-right: 27px;   
    margin-left: 27px; 
    align-content: center;
}

#lang-button{
    width: 48px;
    height: 48px;
    text-align: left;
    font-size: 1.2em;
    color: black;
}

ion-content{
    --background: url('/assets/imgs/HomeBackground.png') no-repeat center center / cover;
}