#welcome-text{
    margin-top: 40px;
    letter-spacing: 17px;
        /* to compensate for letter 
        spacing post final letter */
    margin-right: -17px;
}

#welcome-subtext{
    /* subtitle pinned to bottom of page */
    position: absolute;
    bottom: 40px;
    width: 100%;
    letter-spacing: 2px;
        /* to compensate for letter 
        spacing post final letter */
    margin-right: -2px;
}