<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- 'Menu' hamburger toggle button -->
      <ion-menu-toggle>
      <ion-button style="color: black;">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons disabled slot="end"> 
      <!-- 'Language' toggle button -->
        <!-- Displays div depending on language, bold language denotes selected -->
      <ion-button id="lang-button" (click)="toggleLang()" (click)="hidden = !hidden">
        <div *ngIf="!hidden" [class]="boldLang1"><b>EN /</b><br>
        MT</div>
        <div *ngIf="hidden" [class]="boldLang2">EN /<br>
          <b>MT</b></div>
      </ion-button>
    </ion-buttons>

    <!-- Scrapped language feature -->
    
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <!-- 'Welcome' label -->
  <div class="ion-text-center" id="welcome-text">
    <ion-label>Welcome</ion-label>
  </div>

  <!-- 'MCAST' logo -->
  <div id="mcast-logo">
    <img src="./assets/imgs/mcastLogoRed.png">
  </div>
  <div id="mcast-logo-subtitle">
    <img src="./assets/imgs/mcastSubtitleRed.png">
  </div>

    <!-- 'Academic Year' label -->
  <div class="ion-text-center" id="welcome-subtext">
    <ion-label>Academic Year 2020/21</ion-label>
  </div>
</ion-content>