#welcome-text{
    margin-top: 40px;
    letter-spacing: 17px;
    margin-right: -17px;
        //to compensate for letter spacing post-final letter
}

#welcome-subtext{
    // subtitle pinned to bottom of page
    position: absolute;
    bottom: 100px;
    width: 100%;
    letter-spacing: 2px;
    margin-right: -2px;
        //to compensate for letter spacing post-final letter
}

#mcast-logo{
    position: absolute;
    bottom: 165px;
    margin-right: 18px;    
}

#lang-button{
    width: 48px;
    height: 48px;
    text-align: left;
    font-size: 0.9em;
}